@(detail: Detail)

@main("NYU Composers Project Demo Site") {
  <h1>NYU Archive of Contemporary Composers Websites API Demo Site</h1>
  <h2>@detail.resourceIdentifier @detail.resourceTitle</h2>
  <a href="@detail.summaryUrl">view all digital objects in collection</a>
  <h3>@detail.parent.title</h3>
  <h4>Biographic or Historic Note</h4>
  @for(note <- detail.parent.biogHist) {
    <p>@note<p>
  }
  <br/>
  <h4>@detail.title</h4>
  @detail.extent<br /><br />
  <iframe src="@detail.url" height="315" width="560" allowfullscreen="" frameborder="0"></iframe>

}