@(detail: Detail)
@import helpers.EadTagHelper

@main("NYU Composers Project Demo Site") {
  <h1>NYU Archive of Contemporary Composers Websites API Demo Site</h1>
  <h2>@detail.resourceIdentifier @detail.resourceTitle</h2>
  <a href="@detail.summaryUrl">view all digital objects in collection</a>

  @detail.parent match {
    case Some(_) => {
      <h3>@EadTagHelper.stripEadTags(detail.parent.get.title)</h3>
      <h4>Biographic or Historic Note</h4>
      @for(note <- detail.parent.get.biogHist) {
        <p>@EadTagHelper.stripEadTags(note)<p>
      }
    }
    case None => { }

  }

  <br/>
  <h4>@EadTagHelper.stripEadTags(detail.title)</h4>
  @detail.extent match {
    case Some(_) => { @detail.extent.get}
    case None => { }
  }
<br /><br />
    @detail.isHandle match {
      case Some(_) => { <iframe src="@detail.url" height="315" width="560" allowfullscreen="" frameborder="0"></iframe>}
      case None => { <a href="@detail.url">View Archived Website</a>}
  }
}

