@()

@main("NYU Archive of Contemporary Composers Websites API Demo Site") {
  <h1>NYU Archive of Contemporary Composers Websites API Demo Site</h1>

  <h2>About the Project</h2>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  <h2>Featured Collections</h2>

  <ul class="list-group">
    <li class="list-group-item"><a href='@routes.ComposersController.summary("mss.516")'>Adele Fournet Papers</a></li>
    <li class="list-group-item"><a href='@routes.ComposersController.summary("mss.460")'>Adele Fournet Papers on the Bit Rosie Web Series</a></li>
    <li class="list-group-item"><a href='@routes.ComposersController.summary("mss.479")'>Julie Covello Papers</a></li>
    <li class="list-group-item"><a href='@routes.ComposersController.summary("mss.480")'>Julie Kathryn Franco I Am Snow Angel Papers</a></li>
    <li class="list-group-item"><a href='@routes.ComposersController.summary("mss.504")'>K Marie Kim Papers</a></li>
    <li class="list-group-item"><a href='@routes.ComposersController.summary("mss.494")'>Michael Robinson Papers</a></li>
  </ul>

}
